<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Our Courses</title>
    {% load static %}
  </head>
  <body>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'courses' %}">Our Courses</a></li>
      <li><a href="{% url 'rates' %}">Course Fee</a></li>
      <li><a href="{% url 'contact' %}">Contact me</a></li>
      <li><a href="{% url 'ML_prediction' %}">Our Machine Learning Prediction</a></li>
    </ul>
    <h1>Elementary Courses</h1>

    <p>Welcome to Elementary Courses. Have a look at our exciting offerings</p>
    <h2>
      <ul>
        <li>Class VIII</li>
        <li><a href="https://youtu.be/0NPwvE914MY">1) Click me</a></li>
        <br>
        <li>Class IX</li>
        <li><a href="https://youtu.be/0NPwvE914MY">2) Click me</a></li>
        <br>
        <li>Class X</li>
        <li><a href="https://youtu.be/Y4NQV0KO928">3) Click me</a></li>

      </ul>
    </h2>



  </body>
</html>
